.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90VH;

}
.main{
    text-align: center;
}
.main h1{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}